# Datenanalyse in Python für Einsteiger

## Die Absoluten Basics
Ich habe versucht, Anweisungen so detailliert wie möglich für absolute Anfänger bereitzustellen. Wenn du bereits mit Python & Jupyter Notebooks vertraut bist, kannst du diesen Abschnitt gerne schneller durchgehen oder ihn ganz überspringen.

### Layout
Dieses Tutorial ist in einem sogenannten Jupyter-Notebook (Dateityp .ipynb) angelegt. Es enthält zwei Arten von "Zellen":
- Markdown-Zellen (wie diese hier) enthalten Text und Anweisungen
- Code-Zellen (siehe unten) enthalten... nun ja... Code. Du kannst sie ausführen, indem du auf ein kleines Dreieck klickst oder in sie hinein klickst und SHIFT+ENTER oder CTRL+ENTER drückst.

Was schön an Jupyter Notebooks ist, ist dass Markdown-Zellen es uns ermöglichen, Code einfach zu erklären, aber noch wichtiger ist, dass jede Code-Zelle individuell ausgeführt werden kann. Auf diese Weise kannst du deinen Code Stück für Stück schreiben und testen, deine Ausgabe (oder Fehlermeldung) sofort sehen. Das ermöglicht uns, einfach zu debuggen und zu lernen.

**Probiere es aus, indem du den Codeblock unten ausführst.**

In [ ]:
print("Hello World!")

Du wirst die gedruckte Ausgabe unterhalb der Code-Zelle sehen.

**Verwende die leere Zelle unten, um die print-Funktion selbst auszuprobieren.**

### Variablen definieren

Python - und alle anderen Programmiersprachen - verlassen sich auf Variablen oder "Objekte" für Berechnungen. Vereinfacht ausgedrückt hat jede Variable einen *Wert* und einen *Typ*. In Python wird der Typ implizit abgeleitet, was es zu einer zugänglicheren Sprache für Anfänger macht, da du den Datentyp jedes Objekts nicht explizit angeben musst.

Im Folgenden definieren wir zwei Variablen `a` und `b`.

`a` ist eine *ganze Zahl* mit dem Wert 5 und `b` ist ein *String* (=Text) mit dem Wert "sieben".

**Führe die untenstehenden Zellen aus**

In [ ]:
a = 5
b = "seven"

### Variablen abrufen

Wir haben nun die Werte 5 und "sieben" in die Variablen `a` und `b` gespeichert. Diese gespeicherten Variablen können wir abrufen, indem wir sie *aufrufen*.

**Führe die Zelle unten aus, um `a` aufzurufen und dessen Wert auf dem Bildschirm anzuzeigen.**

In [ ]:
a

Jetzt möchten wir auch die Variable `b` aufrufen.

**Erstelle eine neue Code-Zelle direkt unter dieser und rufe die Variable `b` auf.**

Du kannst neue Zellen erstellen, indem du auf die Plus-Schaltfläche auf dem Bildschirm klickst.

Wir können neue Variablen basierend auf bereits zuvor definierten Variablen definieren. Zum Beispiel können wir c = a + 10 definieren.

In [ ]:
c = a + 10
c

Gut gemacht! Du hast dich nun mit den Grundlagen der Jupyter-Benutzeroberfläche vertraut gemacht und weißt, wie man Variablen definiert.

### Umgang mit Fehlern
Python ist vielleicht eine verzeihende Programmiersprache, aber es ist dennoch eine Programmiersprache. Das bedeutet, wenn du seine Regeln nicht befolgst, gibt es einen Fehler zurück und führt deinen Code nicht aus.

Das kann knifflig sein, wenn man anfängt, denn schon ein einziger Tippfehler kann dazu führen, dass dein Code nicht funktioniert. Glücklicherweise gibt Python einige Hinweise darauf, warum dein Code fehlgeschlagen ist. Also, wenn du auf einen Fehler stößt, versuche diese Schritte zu befolgen:
- Entspanne dich. Fehler passieren die ganze Zeit, sogar den Besten von uns.
- Lies die Fehlermeldung (besonders der Anfang und das Ende der Meldung liefern hilfreiche Hinweise).
- Versuche, die Ursache des Fehlers zu lokalisieren
  - Manchmal sagt dir die Fehlermeldung vielleicht etwas
  - Manchmal musst du einfach genau hinsehen
  - Manchmal kann es hilfreich sein, eine komplexere Abfolge von Schritten auseinanderzunehmen, um genau zu sehen, wo dein Code fehlschlägt
- Wenn du den Code nicht selbst reparieren kannst, dann ist Stackoverflow.com dein Freund. Gib deinen Fehler bei Google ein und schau, welche Ratschläge du auf Stackoverflow bekommst. Jeder macht das.
- In letzter Zeit ist auch ChatGPT ein ausgezeichnetes Debugging-Werkzeug geworden. Du kannst Code einfügen, es bitten zu erklären, was jede Zeile macht, oder es deinen Code automatisch korrigieren lassen.
  - Aber beachte, während es großartig ist, Code mit ChatGPT zu schreiben, stelle sicher, dass du nicht einfach nur kopierst und einfügst, sondern versuche tatsächlich zu verstehen, was den Code funktionieren lässt und was nicht.
- Wenn alles andere fehlschlägt, versuche, eine andere Person um Hilfe zu bitten. Manchmal reicht schon ein frischer Blick.

**Jetzt sieh nach, was mit dem folgenden Code falsch ist und behebe es.**

In [ ]:
print("This is a really important message. Unfortunately, it won't execute.)

Lass uns ein etwas kniffligeres Beispiel versuchen. Erinnerst du dich an deine Variablen `a` und `b`, die du oben definiert hast?

**Rufe sie erneut auf, um dich an ihre Werte zu erinnern.**

**Definiere jetzt die Variable `d = a + b`.**

Warum wird sie nicht ausgeführt? Was kannst du tun, um das Problem zu beheben?

### Verwenden von Code-Kommentaren
Manchmal ist es hilfreich, kleine Notizen in deinem Code zu schreiben, um zu erklären, was passiert. Um dies zu tun, tippe "#" am Anfang deiner Zeile. Solche Zeilen werden nicht als Code ausgeführt.

In [ ]:
# This line is just a comment and will not be executed
print("This line will be printed")

Du kannst auch Kommentare verwenden, um ganze Codeblöcke auszukommentieren.
Das kann auch beim Debuggen hilfreich sein.

In [ ]:
#print("Line 1")
#print("Line 2")
print("Line 3")
#print("Line 4")

### Juhu!
Du hast die grundlegenden Schritte gemeistert. Lass uns jetzt etwas Interessanteres machen, jetzt wo du dich eingelebt hast.

## Datenanalyse in Python
Der einfachste und häufigste Anwendungsfall für Datenanalysen in Python sind *tabellarische Daten*. Damit meine ich Daten, die in einer *Excel* oder *CSV* Tabelle vorliegen. Diese haben üblicherweise eine Zeile pro Beobachtung und eine Spalte pro Eigenschaft oder Attribut dieser Beobachtung.

Beispielsweise könnte eine medizinische Studie alle Probanden auf je einer eigenen Zeile festhalten und deren Körpergröße, Gewicht, Geschlecht, Medikamentenwirkung, etc. auf unterschiedlichen Spalten.

Eine Buchhaltungsfirma könnte jede Transaktion auf einer eigenen Zeile festhalten und den Absender, Empfänger sowie Betrag in drei Spalten schreiben.

In unserem Beispiel arbeiten wir zunächst mit einem Datensatz von Filmen sowie deren Bewertungen, welchen wir von iMDB bekommen haben. Runterladen kann man diesen von [Kaggle](https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/data). Da hierfür ein Account notwendig ist, habe ich euch den Datensatz ebenfalls zur Verfügung gestellt.

## Ein paar Worte zu Pandas
Datenanalyse ist in Python so verbreitet, dass es dafür eine Sammlung speziell dafür ausgerichteter Funktionen gibt. Diese Sammlungen nennt man auch *Packages* oder *Libraries*. Davon gibt es in Python sehr viele, alle für einen unterschiedlichen Zweck. Selbst für Datenanalyse gibt es einige verschiedene. Wir nutzen in diesem Einsteigerkurs das verbreitetste dieser Pakete namens *Pandas*.

Ein *Package* muss immer erst importiert werden bevor wir die darin enthaltenen Funktionen verwenden können. Das machen wir gleich zu Beginn unseres Codes und vergeben gleich einen Alias damit wir später nicht immer `pandas` ausschreiben müssen, sondern einfach die übliche Abkürzung `pd` verwenden können.

In [18]:
import pandas as pd

### Einlesen von Daten
Einlesen von Daten ist sehr einfach. Man nutzt einfach die entsprechende Funktion `pd.read_excel(...)` oder `pd.read_csv(...)` und gibt den Pfad der Datei an, die man einlesen möchte. Schon hat man die Tabelle als Python Objekt geladen. Tabellen, welche so mit `pandas` eingelesen werden, nennt man *pandas Dataframes* und kürzt die Variablen oft mit `df` für *dataframe* ab.

Sobald du die Zelle unten ausführst, erscheint eine Übersicht der ersten und letzten Einträge des Dataframes.

In [19]:
# Achte darauf, dass die Datei im gleichen Verzeichnis liegt wie dieses Skript
# Eventuell musst du die Datei erst hochladen indem du sie in den Bereich links im Browser ziehst
# Passe den Dateipfad notfalls an (z.B. "C:/Users/mein Name/Pythonkurs/Datenanalyse/imdb_top_1000.csv")
pd.read_csv("imdb_top_1000.csv")

Wie sonst auch müssen wir den Wert aber einer *Variable* zuweisen, damit wir das Dataframe später im Code wiederverwenden können.

**Lade die Tabelle in der Code-Zelle unten erneut. Diesmal weisen wir es der Variable `df` zu.**

In [ ]:
df = # Vervollständige den Code hier

Wenn alles geklappt hat, kannst du das Dataframe nun erneut aufrufen, indem du `df` ausführst.

In [ ]:
df

## Erste Pandas Operationen: Head, Tail, Shape & Columns
Ein `pandas.DataFrame` hat viele eingebaute *Funktionen* und *Attribute*, die wir uns zu nutze machen können.

Wenn wir nur die ersten oder letzten Zeilen des Dataframes sehen wollen, nutzen wir `head()` oder `tail()`. Das ist oft hilfreich, wenn man ein Gefühl für einen neuen Datensatz erhalten möchte.

In [ ]:
df.head()

Standardmäßig zeigt `head()` die ersten 5 Zeilen an. Wir können aber auch eine Zahl als *Argument* mitgeben. Damit können wir bestimmen wie viele der ersten Zeilen wir ansehen wollen.

**Lass dir die ersten 3 Zeilen anzeigen**

**Finde nun heraus, wer die Stars im sechst-letzten Film in dem Datensatz sind**

Hinweis: Man kennt die Jungs eher für ihr musikalisches Talent 😊🎵

Oft wollen wir zu Beginn auch wissen, wie groß der Datensatz ist. Das können wir mit `.shape` machen. Bedenke, dass `.shape` ein *Attribut* des Dataframes ist und keine Methode. Daher nutzen wir hier im Gegensatz zu `head()` keine Klammern.

In [ ]:
df.shape

(1000, 16)

**Falls du nicht weißt wie du die Zahlen oben interpretieren sollst, Frage deinen Nachbarn oder mich um Hilfe 😊**

Die Spaltenbezeichnung erhalten wir durch `.columns` (auch hier ohne Klammern).

In [ ]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

## Filtern
Einen Datensatz zu filtern ist mit das gängiste was man mit tabellarischen Daten macht. Leider gibt es dafür mehrere Methoden, was es für Anfänger etwas verwirrend machen kann. Wir versuchen uns Schritt für Schritt an die verschiedenen Szenarien ranzutasten.

### Auf Spalten filtern
Das ist der einfache Fall. Vielleicht wollen wir nur eine oder ein paar Spalten des Datensatzen ansehen. Dazu nutzen wir am besten den Spaltennamen (siehe oben)

In [ ]:
df.Series_Title

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3        The Godfather: Part II
4                  12 Angry Men
                 ...
995      Breakfast at Tiffany's
996                       Giant
997       From Here to Eternity
998                    Lifeboat
999                The 39 Steps
Name: Series_Title, Length: 1000, dtype: object

In `pandas` gibt es zwei gängige Möglichkeiten Spalten zu filtern. Entweder so wie oben, mit `.Spaltenname` oder wie unten:

In [ ]:
df["Series_Title"]

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3        The Godfather: Part II
4                  12 Angry Men
                 ...
995      Breakfast at Tiffany's
996                       Giant
997       From Here to Eternity
998                    Lifeboat
999                The 39 Steps
Name: Series_Title, Length: 1000, dtype: object

Diese Methoden sind im Ergebnis äquivalent und persönliche Präferenz. Zwei wichtige Unterschiede gibt es:
- Wenn eine Spalte ein Leerzeichen hat, dann muss man die zweite Methode verwenden (oder die Spalte umbenennen)
- Wenn man mehrere Spalten auswählen möchte, muss man die zweite Methode verwenden

Da die erste Methode (`.Spaltenname`) etwas schneller geschrieben ist, versuche ich wo möglich diese zu nutzen, in Onlinetutorials werdet ihr aber beides verbreitet sehen.

Möchten wir mehrere Spalten auswählen, dann machen wir das so:

In [ ]:
df[["Series_Title", "Released_Year"]]

                 Series_Title Released_Year
0    The Shawshank Redemption          1994
1               The Godfather          1972
2             The Dark Knight          2008
3      The Godfather: Part II          1974
4                12 Angry Men          1957
..                        ...           ...
995    Breakfast at Tiffany's          1961
996                     Giant          1956
997     From Here to Eternity          1953
998                  Lifeboat          1944
999              The 39 Steps          1935

[1000 rows x 2 columns]

**Versuche selbst das Dataframe auf verschiedene einzelne Spalten sowie auf mehrere Spalten zu filtern, um dich mit der Syntax vertraut zu machen**

### Filtern auf Zeilen
Filtern auf Zeilen ist etwas komplierter. Lass uns mit dem einfachen case anfangen: Wir wollen schlicht auf eine bestimmte Zeilen-Spanne filtern.

In [ ]:
# Gibt uns die erste Zeile im Dataframe aus
df.iloc[0]

Poster_Link      https://m.media-amazon.com/images/M/MV5BMDFkYT...
Series_Title                              The Shawshank Redemption
Released_Year                                                 1994
Certificate                                                      A
Runtime                                                    142 min
Genre                                                        Drama
IMDB_Rating                                                    9.3
Overview         Two imprisoned men bond over a number of years...
Meta_score                                                    80.0
Director                                            Frank Darabont
Star1                                                  Tim Robbins
Star2                                               Morgan Freeman
Star3                                                   Bob Gunton
Star4                                               William Sadler
No_of_Votes                                                2343110
Gross                                                   28,341,469
Name: 0, dtype: object

In [ ]:
# Gibt uns die Zeilen Nummer 10 bis 15 aus.
df.iloc[10:15]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
10,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750"
11,https://m.media-amazon.com/images/M/MV5BNWIwOD...,Forrest Gump,1994,UA,142 min,"Drama, Romance",8.8,"The presidencies of Kennedy and Johnson, the e...",82.0,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,1809221,"330,252,182"
12,https://m.media-amazon.com/images/M/MV5BOTQ5ND...,"Il buono, il brutto, il cattivo",1966,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"
13,https://m.media-amazon.com/images/M/MV5BZGMxZT...,The Lord of the Rings: The Two Towers,2002,UA,179 min,"Action, Adventure, Drama",8.7,While Frodo and Sam edge closer to Mordor with...,87.0,Peter Jackson,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1485555,"342,551,365"
14,https://m.media-amazon.com/images/M/MV5BNzQzOT...,The Matrix,1999,A,136 min,"Action, Sci-Fi",8.7,When a beautiful stranger leads computer hacke...,73.0,Lana Wachowski,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,1676426,"171,479,930"

**Probiere selbst aus, auf verschiedene Zeilen zu filtern**

### Filtern mit Bedingungen

Spannender wird es, wenn wir beim Filtern auf Zeilen, bestimmte *Bedingungen* berücksichtigen wollen. Zum Beispiel wollen wir nur Filme mit einem bestimmten Meta-Score anzeigen. Hier ist die Syntax ein bisschen ähnlich wie bei *If-Statements* die ihr bereits in einem anderen Tutorial kennengelernt habt: `df[MEINE_BEDINGUNG]`

In [ ]:
df[df.Meta_score > 95]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
19,https://m.media-amazon.com/images/M/MV5BYWZjMj...,Gisaengchung,2019,A,132 min,"Comedy, Drama, Thriller",8.6,Greed and class discrimination threaten the ne...,96.0,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,Cho Yeo-jeong,Choi Woo-sik,552778,"53,367,844"
23,https://m.media-amazon.com/images/M/MV5BMjlmZm...,Sen to Chihiro no kamikakushi,2001,U,125 min,"Animation, Adventure, Family",8.6,"During her family's move to the suburbs, a sul...",96.0,Hayao Miyazaki,Daveigh Chase,Suzanne Pleshette,Miyu Irino,Rumi Hiiragi,651376,"10,055,859"
31,https://m.media-amazon.com/images/M/MV5BOWE4ZD...,Shichinin no samurai,1954,U,207 min,"Action, Adventure, Drama",8.6,A poor village under attack by bandits recruit...,98.0,Akira Kurosawa,Toshirô Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,315744,"269,061"
49,https://m.media-amazon.com/images/M/MV5BNTQwND...,Psycho,1960,A,109 min,"Horror, Mystery, Thriller",8.5,"A Phoenix secretary embezzles $40,000 from her...",97.0,Alfred Hitchcock,Anthony Perkins,Janet Leigh,Vera Miles,John Gavin,604211,"32,000,000"
50,https://m.media-amazon.com/images/M/MV5BY2IzZG...,Casablanca,1942,U,102 min,"Drama, Romance, War",8.5,A cynical expatriate American cafe owner strug...,100.0,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,522093,"1,024,560"
51,https://m.media-amazon.com/images/M/MV5BYjJiZj...,Modern Times,1936,G,87 min,"Comedy, Drama, Family",8.5,The Tramp struggles to live in modern industri...,96.0,Charles Chaplin,Charles Chaplin,Paulette Goddard,Henry Bergman,Tiny Sandford,217881,"163,245"
52,https://m.media-amazon.com/images/M/MV5BY2I4Mm...,City Lights,1931,G,87 min,"Comedy, Drama, Romance",8.5,"With the aid of a wealthy erratic tippler, a d...",99.0,Charles Chaplin,Charles Chaplin,Virginia Cherrill,Florence Lee,Harry Myers,167839,"19,181"
78,https://m.media-amazon.com/images/M/MV5BZWI3ZT...,Dr. Strangelove or: How I Learned to Stop Worr...,1964,A,95 min,Comedy,8.4,An insane general triggers a path to nuclear h...,97.0,Stanley Kubrick,Peter Sellers,George C. Scott,Sterling Hayden,Keenan Wynn,450474,"275,902"
81,https://m.media-amazon.com/images/M/MV5BNGUxYW...,Rear Window,1954,U,112 min,"Mystery, Thriller",8.4,A wheelchair-bound photographer spies on his n...,100.0,Alfred Hitchcock,James Stewart,Grace Kelly,Wendell Corey,Thelma Ritter,444074,"36,764,313"
116,https://m.media-amazon.com/images/M/MV5BYWY5Zj...,Lawrence of Arabia,1962,U,228 min,"Adventure, Biography, Drama",8.3,"The story of T.E. Lawrence, the English office...",100.0,David Lean,Peter O'Toole,Alec Guinness,Anthony Quinn,Jack Hawkins,268085,"44,824,144"
118,https://m.media-amazon.com/images/M/MV5BZDA3ND...,North by Northwest,1959,U,136 min,"Adventure, Mystery, Thriller",8.3,A New York City advertising executive goes on ...,98.0,Alfred Hitchcock,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,299198,"13,275,000"
119,https://m.media-amazon.com/images/M/MV5BYTE4OD...,Vertigo,1958,A,128 min,"Mystery, Romance, Thriller",8.3,A former police detective juggles wrestling wi...,100.0,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,364368,"3,200,000"
120,https://m.media-amazon.com/images/M/MV5BZDRjNG...,Singin' in the Rain,1952,G,103 min,"Comedy, Musical, Romance",8.3,A silent film production company and cast make...,99.0,Stanley Donen,Gene Kelly,Gene Kelly,Donald O'Connor,Debbie Reynolds,218957,"8,819,028"
124,https://m.media-amazon.com/images/M/MV5BYjBiOT...,Citizen Kane,1941,UA,119 min,"Drama, Mystery",8.3,Following the death of publishing tycoon Charl...,100.0,Orson Welles,Orson Welles,Joseph Cotten,Dorothy Comingore,Agnes Moorehead,403351,"1,585,634"
126,https://m.media-amazon.com/images/M/MV5BMTg5YW...,Metropolis,1927,NaN,153 min,"Drama, Sci-Fi",8.3,In a futuristic city sharply divided between t...,98.0,Fritz Lang,Brigitte Helm,Alfred Abel,Gustav Fröhlich,Rudolf Klein-Rogge,159992,"1,236,166"
150,https://m.media-amazon.com/images/M/MV5BMTU3OD...,Pan's Labyrinth,2006,UA,118 min,"Drama, Fantasy, War",8.2,"In the Falangist Spain of 1944, the bookish yo...",98.0,Guillermo del Toro,Ivana Baquero,Ariadna Gil,Sergi López,Maribel Verdú,618623,"37,634,615"
172,https://m.media-amazon.com/images/M/MV5BZDBjZT...,Ran,1985,U,162 min,"Action, Drama, War",8.2,"In Medieval Japan, an elderly warlord retires,...",96.0,Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke Ryû,112505,"4,135,750"
183,https://m.media-amazon.com/images/M/MV5BNzAyOG...,Some Like It Hot,1959,U,121 min,"Comedy, Music, Romance",8.2,"After two male musicians witness a mob hit, th...",98.0,Billy Wilder,Marilyn Monroe,Tony Curtis,Jack Lemmon,George Raft,243943,"25,000,000"
186,https://m.media-amazon.com/images/M/MV5BNjZmZG...,Du rififi chez les hommes,1955,NaN,118 min,"Crime, Drama, Thriller",8.2,"Four men plan a technically perfect crime, but...",97.0,Jules Dassin,Jean Servais,Carl Möhner,Robert Manuel,Janine Darcey,28810,"57,226"
189,https://m.media-amazon.com/images/M/MV5BMjEzMz...,Rashômon,1950,NaN,88 min,"Crime, Drama, Mystery",8.2,The rape of a bride and the murder of her samu...,98.0,Akira Kurosawa,Toshirô Mifune,Machiko Kyô,Masayuki Mori,Takashi Shimura,152572,"96,568"
190,https://m.media-amazon.com/images/M/MV5BMTY2MT...,All About Eve,1950,Passed,138 min,Drama,8.2,A seemingly timid but secretly ruthless ingénu...,98.0,Joseph L. Mankiewicz,Bette Davis,Anne Baxter,George Sanders,Celeste Holm,120539,"10,177"
191,https://m.media-amazon.com/images/M/MV5BOTJlZW...,The Treasure of the Sierra Madre,1948,Passed,126 min,"Adventure, Drama, Western",8.2,Two Americans searching for work in Mexico con...,98.0,John Huston,Humphrey Bogart,Walter Huston,Tim Holt,Bruce Bennett,114304,"5,014,000"
215,https://m.media-amazon.com/images/M/MV5BMjExMT...,12 Years a Slave,2013,A,134 min,"Biography, Drama, History",8.1,"In the antebellum United States, Solomon North...",96.0,Steve McQueen,Chiwetel Ejiofor,Michael Kenneth Williams,Michael Fassbender,Brad Pitt,640533,"56,671,993"
260,https://m.media-amazon.com/images/M/MV5BYTg1Mm...,Trois couleurs: Rouge,1994,U,99 min,"Drama, Mystery, Romance",8.1,A model discovers a retired judge is keen on i...,100.0,Krzysztof Kieslowski,Irène Jacob,Jean-Louis Trintignant,Frédérique Feder,Jean-Pierre Lorit,90729,"4,043,686"
274,https://m.media-amazon.com/images/M/MV5BZmQzMD...,Fanny och Alexander,1982,A,188 min,Drama,8.1,Two young Swedish children experience the many...,100.0,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,Börje Ahlstedt,57784,"4,971,340"
291,https://m.media-amazon.com/images/M/MV5BZWEzMG...,La battaglia di Algeri,1966,NaN,121 min,"Drama, War",8.1,"In the 1950s, fear and violence escalate as th...",96.0,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash,53089,"55,908"
309,https://m.media-amazon.com/images/M/MV5BYjE2OT...,The Third Man,1949,Approved,104 min,"Film-Noir, Mystery, Thriller",8.1,Pulp novelist Holly Martins travels to shadowy...,97.0,Carol Reed,Orson Welles,Joseph Cotten,Alida Valli,Trevor Howard,158731,"449,191"
311,https://m.media-amazon.com/images/M/MV5BNzc1MT...,The Shop Around the Corner,1940,NaN,99 min,"Comedy, Drama, Romance",8.1,Two employees at a gift shop can barely stand ...,96.0,Ernst Lubitsch,Margaret Sullavan,James Stewart,Frank Morgan,Joseph Schildkraut,28450,"203,300"
314,https://m.media-amazon.com/images/M/MV5BYjUyZW...,Gone with the Wind,1939,U,238 min,"Drama, History, Romance",8.1,A manipulative woman and a roguish man conduct...,97.0,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,290074,"198,676,459"
367,https://m.media-amazon.com/images/M/MV5BMTMzOD...,Ratatouille,2007,U,111 min,"Animation, Adventure, Comedy",8.0,A rat who can cook makes an unusual alliance w...,96.0,Brad Bird,Jan Pinkava,Brad Garrett,Lou Romano,Patton Oswalt,641645,"206,445,654"
423,https://m.media-amazon.com/images/M/MV5BODFlYz...,Il conformista,1970,UA,113 min,Drama,8.0,A weak-willed Italian man becomes a fascist fl...,100.0,Bernardo Bertolucci,Jean-Louis Trintignant,Stefania Sandrelli,Gastone Moschin,Enzo Tarascio,27067,"541,940"
425,https://m.media-amazon.com/images/M/MV5BZmEwZG...,Rosemary's Baby,1968,A,137 min,"Drama, Horror",8.0,A young couple trying for a baby move into a f...,96.0,Roman Polanski,Mia Farrow,John Cassavetes,Ruth Gordon,Sidney Blackmer,193674,NaN
438,https://m.media-amazon.com/images/M/MV5BOTA1Mj...,Touch of Evil,1958,PG-13,95 min,"Crime, Drama, Film-Noir",8.0,"A stark, perverse story of murder, kidnapping,...",99.0,Orson Welles,Charlton Heston,Orson Welles,Janet Leigh,Joseph Calleia,98431,"2,237,659"
440,https://m.media-amazon.com/images/M/MV5BMjE5NT...,Sweet Smell of Success,1957,Approved,96 min,"Drama, Film-Noir",8.0,Powerful but unethical Broadway columnist J.J....,100.0,Alexander Mackendrick,Burt Lancaster,Tony Curtis,Susan Harrison,Martin Milner,28137,NaN
442,https://m.media-amazon.com/images/M/MV5BYTNjN2...,The Night of the Hunter,1955,NaN,92 min,"Crime, Drama, Film-Noir",8.0,A religious fanatic marries a gullible widow w...,99.0,Charles Laughton,Robert Mitchum,Shelley Winters,Lillian Gish,James Gleason,81980,"654,000"
447,https://m.media-amazon.com/images/M/MV5BNzk2M2...,A Streetcar Named Desire,1951,A,122 min,Drama,8.0,Disturbed Blanche DuBois moves in with her sis...,97.0,Elia Kazan,Vivien Leigh,Marlon Brando,Kim Hunter,Karl Malden,99182,"8,000,000"
456,https://m.media-amazon.com/images/M/MV5BZjIwNG...,The Maltese Falcon,1941,NaN,100 min,"Film-Noir, Mystery",8.0,A private detective takes on a case that invol...,96.0,John Huston,Humphrey Bogart,Mary Astor,Gladys George,Peter Lorre,148928,"2,108,060"
457,https://m.media-amazon.com/images/M/MV5BNzJiOG...,The Grapes of Wrath,1940,Passed,129 min,"Drama, History",8.0,A poor Midwest family is forced off their land...,96.0,John Ford,Henry Fonda,Jane Darwell,John Carradine,Charley Grapewin,85559,"55,000"
462,https://m.media-amazon.com/images/M/MV5BMTEyMT...,Bronenosets Potemkin,1925,NaN,75 min,"Drama, History, Thriller",8.0,In the midst of the Russian Revolution of 1905...,97.0,Sergei M. Eisenstein,Aleksandr Antonov,Vladimir Barskiy,Grigoriy Aleksandrov,Ivan Bobrov,53054,"50,970"
491,https://m.media-amazon.com/images/M/MV5BMTYzND...,Boyhood,2014,A,165 min,Drama,7.9,"The life of Mason, from early childhood to his...",100.0,Richard Linklater,Ellar Coltrane,Patricia Arquette,Ethan Hawke,Elijah Smith,335533,"25,379,975"
492,https://m.media-amazon.com/images/M/MV5BYzU1YW...,"4 luni, 3 saptamâni si 2 zile",2007,NaN,113 min,Drama,7.9,A woman assists her friend in arranging an ill...,97.0,Cristian Mungiu,Anamaria Marinca,Laura Vasiliu,Vlad Ivanov,Alexandru Potocean,56625,"1,185,783"
525,https://m.media-amazon.com/images/M/MV5BYjdkNz...,My Left Foot: The Story of Christy Brown,1989,U,103 min,"Biography, Drama",7.9,"Christy Brown, born with cerebral palsy, learn...",97.0,Jim Sheridan,Daniel Day-Lewis,Brenda Fricker,Alison Whelan,Kirsten Sheridan,68076,"14,743,391"
543,https://m.media-amazon.com/images/M/MV5BNGUyYT...,The Wild Bunch,1969,A,145 min,"Action, Adventure, Western",7.9,An aging group of outlaws look for one last bi...,97.0,Sam Peckinpah,William Holden,Ernest Borgnine,Robert Ryan,Edmond O'Brien,77401,"12,064,472"
559,https://m.media-amazon.com/images/M/MV5BYTc1NG...,Notorious,1946,U,102 min,"Drama, Film-Noir, Romance",7.9,A woman is asked to spy on a group of Nazi fri...,100.0,Alfred Hitchcock,Cary Grant,Ingrid Bergman,Claude Rains,Louis Calhern,92306,"10,464,000"
562,https://m.media-amazon.com/images/M/MV5BYjQ4ZD...,The Philadelphia Story,1940,NaN,112 min,"Comedy, Romance",7.9,When a rich woman's ex-husband and a tabloid-t...,96.0,George Cukor,Cary Grant,Katharine Hepburn,James Stewart,Ruth Hussey,63550,NaN
564,https://m.media-amazon.com/images/M/MV5BYjZjOT...,The Adventures of Robin Hood,1938,PG,102 min,"Action, Adventure, Romance",7.9,When Prince John and the Norman Lords begin op...,97.0,Michael Curtiz,William Keighley,Errol Flynn,Olivia de Havilland,Basil Rathbone,47175,"3,981,000"
580,https://m.media-amazon.com/images/M/MV5BMTYxMj...,Manchester by the Sea,2016,UA,137 min,Drama,7.8,A depressed uncle is asked to take care of his...,96.0,Kenneth Lonergan,Casey Affleck,Michelle Williams,Kyle Chandler,Lucas Hedges,246963,"47,695,120"
706,https://m.media-amazon.com/images/M/MV5BZTM1MT...,Jules et Jim,1962,NaN,105 min,"Drama, Romance",7.8,Decades of a love triangle concerning two frie...,97.0,François Truffaut,Jeanne Moreau,Oskar Werner,Henri Serre,Vanna Urbino,37605,NaN
714,https://m.media-amazon.com/images/M/MV5BNjk3Yz...,The Lady Vanishes,1938,NaN,96 min,"Mystery, Thriller",7.8,"While travelling in continental Europe, a rich...",98.0,Alfred Hitchcock,Margaret Lockwood,Michael Redgrave,Paul Lukas,May Whitty,47400,NaN
720,https://m.media-amazon.com/images/M/MV5BMTU0OT...,Roma,2018,R,135 min,Drama,7.7,A year in the life of a middle-class family's ...,96.0,Alfonso Cuarón,Yalitza Aparicio,Marina de Tavira,Diego Cortina Autrey,Carlos Peralta,140375,NaN
745,https://m.media-amazon.com/images/M/MV5BNjE5Mz...,Gravity,2013,UA,91 min,"Drama, Sci-Fi, Thriller",7.7,Two astronauts work together to survive after ...,96.0,Alfonso Cuarón,Sandra Bullock,George Clooney,Ed Harris,Orto Ignatiussen,769145,"274,092,705"
875,https://m.media-amazon.com/images/M/MV5BMjAxMT...,Fantasia,1940,G,125 min,"Animation, Family, Fantasy",7.7,A collection of animated interpretations of gr...,96.0,James Algar,Samuel Armstrong,Ford Beebe Jr.,Norman Ferguson,David Hand,88662,"76,408,097"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"

Alternativ können wir nach einem Film mit einer bestimmten Jugendfreigabe suchen. Die Freigaben hier nochmal von ChatGPT erklärt, falls es dich interessiert:

- **nan**: Not a Number, wahrscheinlich fehlende oder undefinierte Daten.
- **Unrated**: Nicht zur Bewertung eingereicht oder nicht offiziell bewertet.
- **U**: Universal, geeignet für alle Altersgruppen.
- **G**: Allgemeines Publikum, geeignet für alle Altersgruppen.
- **Passed**: Genehmigt von der Production Code Administration (historisch).
- **Approved**: Genehmigt von der Production Code Administration (historisch).
- **GP**: Allgemeines Publikum, elterliche Begleitung empfohlen (historisch).
- **PG**: Elterliche Begleitung, einige Inhalte möglicherweise ungeeignet für Kinder.
- **TV-PG**: Elterliche Begleitung, einige Inhalte möglicherweise ungeeignet für Kinder.
- **TV-14**: Eltern dringend gewarnt, ungeeignet für Kinder unter 14 Jahren.
- **PG-13**: Eltern dringend gewarnt, einige Inhalte möglicherweise ungeeignet für Kinder unter 13 Jahren.
- **UA**: Universal Adult, geeignet für Kinder über 12 Jahre mit elterlicher Begleitung.
- **U/A**: Universal Adult, geeignet für Kinder über 12 Jahre mit elterlicher Begleitung.
- **16**: Geeignet für Zuschauer ab 16 Jahren.
- **R**: Beschränkt, Zuschauer unter 17 Jahren benötigen die Begleitung eines Elternteils oder eines erwachsenen Vormunds.
- **TV-MA**: Reifes Publikum, ungeeignet für Kinder unter 17 Jahren.
- **A**: Nur für Erwachsene.

In [ ]:
df[df.Certificate == "U"].head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
10,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750"

Oder wir wollen nur Filme aus meinem Geburtsjahr sehen.

In [ ]:
# Die Syntax meines Filters ist korrekt, allerdings muss ich berücksichten, dass das Jahr in der Tabelle als String gespeichert ist.
# Daher werden bei diesem Filter keine Filme angezeigt.
df[df.Released_Year == 1996]

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross]
Index: []

**Versuche den Filter so anzupassen, dass Filme aus dem Jahr 1996 angezeigt werden. Wie viele Filme gibt es in diesem Jahr?**

### Einschub: Datentypen von Spalten ändern
Das Erscheinungsjahr eines Filmes sollte eine Zahl sein und kein String, damit wir auch Vergleiche anstellen können wie `>` oder `<`. Daher wandeln wir die Spalte für zukünftige Arbeiten am Dataframe in einen *Integer* (=Ganzzahl) um.

Es ist nicht schlimm, wenn ihr nicht jeden Teil der nächsten Schritte versteht.

In [ ]:
# Offenbar gibt es mindestens einen Eintrag "PG", welcher nicht in eine Zahl umgewandelt werden kann
# Das ist ein Fehler im Datensatz (sowas kommt in der echten Welt sehr oft vor)
df["Released_Year"].astype(int)

ValueError: invalid literal for int() with base 10: 'PG'

In [ ]:
# In der Tat ist es nur ein einzelner Fehler, den können wir schnell beheben.
df[df.Released_Year == "PG"]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [20]:
# Nach einer kurzen Internetrecherche können wir das Jahr auf den richtigen (string) Wert setzen.
df.loc[966, "Released_Year"] = "1995"

In [21]:
# Jetzt können wir die Spalte zu einem Integer machen
# Bedenkt, dass ich dabei die Variable neu zugewiesen habe
df["Released_Year"] = df.Released_Year.astype(int)

### Zeilen mit mehreren Bedingungen filtern
Oft wollen wir mehrere Bedingungen gleichzeitig anwenden. Dabei ist es wichtig zu unterscheiden ob wir möchten, dass Bedingung A **UND** Bedingung B gilt oder ob wir möchten, dass Bedingung A **ODER** Bedingung B gilt.

In den folgenden Beispielen sehen wir die Konjunktionen **UND**, **ODER** und **NICHT**. Diese drei Konjunktionen reichen aus, um beliebig komplexe Filter zu bauen.

In [ ]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
# Wir lassen uns alle Filme anzeigen die zwischen 2012 (exklusive) und 2015 (inklusive) erschienen sind
# Wir nutzen runde Klammern für jede Teilbedingung und verknüpfen Teilbedigungen durch '&'
df[(df.Released_Year > 2012) & (df.Released_Year <= 2015)]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
21,https://m.media-amazon.com/images/M/MV5BZjdkOT...,Interstellar,2014,UA,169 min,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,74.0,Christopher Nolan,Matthew McConaughey,Anne Hathaway,Jessica Chastain,Mackenzie Foy,1512360,"188,020,017"
34,https://m.media-amazon.com/images/M/MV5BOTA5ND...,Whiplash,2014,A,106 min,"Drama, Music",8.5,A promising young drummer enrolls at a cut-thr...,88.0,Damien Chazelle,Miles Teller,J.K. Simmons,Melissa Benoist,Paul Reiser,717585,"13,092,000"
87,https://m.media-amazon.com/images/M/MV5BYmY3Mz...,Drishyam,2013,U,160 min,"Crime, Drama, Thriller",8.3,A man goes to extreme lengths to save his fami...,NaN,Jeethu Joseph,Mohanlal,Meena,Asha Sharath,Ansiba,30722,NaN
133,https://m.media-amazon.com/images/M/MV5BMTYzOD...,Talvar,2015,UA,132 min,"Crime, Drama, Mystery",8.2,An experienced investigator confronts several ...,NaN,Meghna Gulzar,Irrfan Khan,Konkona Sen Sharma,Neeraj Kabi,Sohum Shah,31142,"342,370"
136,https://m.media-amazon.com/images/M/MV5BYmJhZm...,Drishyam,2015,UA,163 min,"Crime, Drama, Mystery",8.2,Desperate measures are taken by a man who trie...,NaN,Nishikant Kamat,Ajay Devgn,Shriya Saran,Tabu,Rajat Kapoor,70367,"739,478"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,https://m.media-amazon.com/images/M/MV5BMjA5Nj...,Sicario,2015,A,121 min,"Action, Crime, Drama",7.6,An idealistic FBI agent is enlisted by a gover...,82.0,Denis Villeneuve,Emily Blunt,Josh Brolin,Benicio Del Toro,Jon Bernthal,371291,"46,889,293"
894,https://m.media-amazon.com/images/M/MV5BNmZkYj...,Creed,2015,A,133 min,"Drama, Sport",7.6,The former World Heavyweight Champion Rocky Ba...,82.0,Ryan Coogler,Michael B. Jordan,Sylvester Stallone,Tessa Thompson,Phylicia Rashad,247666,"109,767,581"
895,https://m.media-amazon.com/images/M/MV5BYTYxZj...,Leviafan,2014,R,140 min,"Crime, Drama",7.6,"In a Russian coastal town, Kolya is forced to ...",92.0,Andrey Zvyagintsev,Aleksey Serebryakov,Elena Lyadova,Roman Madyanov,Vladimir Vdovichenkov,49397,"1,092,800"
897,https://m.media-amazon.com/images/M/MV5BMjA5OD...,Philomena,2013,PG-13,98 min,"Biography, Comedy, Drama",7.6,A world-weary political journalist picks up th...,77.0,Stephen Frears,Judi Dench,Steve Coogan,Sophie Kennedy Clark,Mare Winningham,94212,"37,707,719"
898,https://m.media-amazon.com/images/M/MV5BMTgwOD...,Dawn of the Planet of the Apes,2014,UA,130 min,"Action, Adventure, Drama",7.6,A growing nation of genetically evolved apes l...,79.0,Matt Reeves,Gary Oldman,Keri Russell,Andy Serkis,Kodi Smit-McPhee,411599,"208,545,589"

Vielleicht wollen wir nun einen Film finden, der für Kinder geeignet ist. Wir möchten also einen Film, dessen Certificate U *oder* G ist.

In [ ]:
# Die vertikale Linie für die *ODER* Konjuktion findest du vermutlich links unten auf der Tastatur
# neben deiner Y-Taste. Halte dafür alt-gr gedrückt (rechts von der Leertaste)
df[(df.Certificate == "U") | (df.Certificate == "G")]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
10,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750"
20,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,Soorarai Pottru,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
23,https://m.media-amazon.com/images/M/MV5BMjlmZm...,Sen to Chihiro no kamikakushi,2001,U,125 min,"Animation, Adventure, Family",8.6,"During her family's move to the suburbs, a sul...",96.0,Hayao Miyazaki,Daveigh Chase,Suzanne Pleshette,Miyu Irino,Rumi Hiiragi,651376,"10,055,859"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,https://m.media-amazon.com/images/M/MV5BMzZiOD...,Watership Down,1978,U,91 min,"Animation, Adventure, Drama",7.6,Hoping to escape destruction by human develope...,64.0,Martin Rosen,John Hubley,John Hurt,Richard Briers,Ralph Richardson,33656,NaN
988,https://m.media-amazon.com/images/M/MV5BMjM1Nj...,Close Encounters of the Third Kind,1977,U,138 min,"Drama, Sci-Fi",7.6,"Roy Neary, an electric lineman, watches how hi...",90.0,Steven Spielberg,Richard Dreyfuss,François Truffaut,Teri Garr,Melinda Dillon,184966,"132,088,635"
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN

Zu guter Letzt zeige ich euch die **NICHT** Konjunktion (=`~`) zusammen mit einem etwas komplexeren Filter.

**Versuche nachzuvollziehen welche Bedingung ich hier definiert habe**

In [16]:
df[~(df.Genre.str.contains("Drama")) & (df.Meta_score > 85) & (df.Released_Year >= 2015)]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
58,https://m.media-amazon.com/images/M/MV5BMjMwND...,Spider-Man: Into the Spider-Verse,2018,U,117 min,"Animation, Action, Adventure",8.4,Teen Miles Morales becomes the Spider-Man of h...,87.0,Bob Persichetti,Peter Ramsey,Rodney Rothman,Shameik Moore,Jake Johnson,375110,"190,241,310"
213,https://m.media-amazon.com/images/M/MV5BOTgxMD...,Inside Out,2015,U,95 min,"Animation, Adventure, Comedy",8.1,After young Riley is uprooted from her Midwest...,94.0,Pete Docter,Ronnie Del Carmen,Amy Poehler,Bill Hader,Lewis Black,616228,"356,461,711"
223,https://m.media-amazon.com/images/M/MV5BN2EwM2...,Mad Max: Fury Road,2015,UA,120 min,"Action, Adventure, Sci-Fi",8.1,"In a post-apocalyptic wasteland, a woman rebel...",90.0,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Zoë Kravitz,882316,"154,058,340"
576,https://m.media-amazon.com/images/M/MV5BMmYwNW...,Paddington 2,2017,U,103 min,"Adventure, Comedy, Family",7.8,"Paddington (Ben Whishaw), now happily settled ...",88.0,Paul King,Ben Whishaw,Hugh Grant,Hugh Bonneville,Sally Hawkins,61594,"40,442,052"
725,https://m.media-amazon.com/images/M/MV5BNjRlZm...,Mission: Impossible - Fallout,2018,UA,147 min,"Action, Adventure, Thriller",7.7,"Ethan Hunt and his IMF team, along with some f...",86.0,Christopher McQuarrie,Tom Cruise,Henry Cavill,Ving Rhames,Simon Pegg,291257,"220,159,104"

Das ist eine sehr wichtige Lektion.

**Probiere selbst verschiedene Filter aus. Setze dir dabei eine bestimmte Fragestellung zum Ziel und versuche dann den passenden Filter zu bauen.**

**Fang beispielsweise mit folgenden Fragen an:**

- **Welche Filme aus den 90ern haben ein IMDB Rating über 8.0 und sind keine Sci-Fi Filme.**
- **Ich suche einen Actionfilm mit IMDB Rating über 8.0 oder Meta_score über 85**

Hinweis: Manche Spalten sind noch falsch formatiert. Falls du also mit `Runtime` oder `Gross` (=Ticketerlös) arbeiten möchtest, müssen wir diese Spalten erst etwas umformen. Das ist ein Bonuskapitel, welches ich unten vorbereitet habe.

In [ ]:
# Probiere hier verschiedene Filter aus

In [ ]:
# Probiere hier verschiedene Filter aus

In [ ]:
# Probiere hier verschiedene Filter aus

## Spalten umwandeln: Datentypen anpassen Daten säubern

Erstmal können wir die Datentypen der Spalten anzeigen lassen. Dafür nutzen wir `.dtypes`.

Hinweis: `object` bedeutet in diesem Fall string, `int64` ist ein integer, `float64` ist ein float, also eine Kommazahl.

In [24]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year      int64
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

Idealerweise, wollen wir die `Runtime` als `int` codieren. Dafür müssen wir aber zunächst die Zahl von den Minuten trennen. Es gibt viele Möglichkeiten das zu tun, eine davon ist einfach " min" durch einen leeren String zu ersetzen.

In [25]:
df.head(2)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [32]:
# Wir machen gleich zwei Operationen in einer Zeile (erst replace und dann astype(int))
# Das Ergebnis weisen wir dann der Spalte "Runtime" zu und überschreiben diese mit dem neuen Ergebnis
df["Runtime"] = df.Runtime.str.replace(" min", "").astype(int)

Jetzt sehen wir, dass bei `Runtime` lediglich die Zahl übrig bleibt.

In [34]:
df.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

**Prüfe, dass auch der Datentyp nun ein integer ist**

**Versuche nun, die Spalte `Gross` (also den Ticketerlös des Films) zu einem `float` zu transformieren.**

Hinweis: Du musst eine Lösung für die Kommas in den Zahlen finden.

## Spielwiese
Gut gemacht! 🥳🎉

Du hast alles gelernt, was ich in dieser Lektion vermitteln wollte. Jetzt ist es wichtig, das Gelernte zu anzuwenden und zu üben.

**Versuche die Inhalte dieser Lektion nach belieben anzuwenden.**

**Bonusaufgabe: Erstelle eine neue Spalte `Rating_difference`, welche den Unterschied zwischen dem `IMDB_Rating` und dem `Meta_score` festhält. Wichtig: IMDB Rating geht von 0-10, Meta_score aber von 0-100. Bringe die zwei Werte also zunächst auf die gleiche Skala**

Hinweis: Das ist eine Transferaufgabe, weil wir bislang immer nur bestehende Spalten überschrieben haben. Falls du feststeckst, suche Hilfe im Internet oder von ChatGPT / Bing Copilot / Google Gemini.